{% extends "base.html" %}
{% set active_page = "compare" %}
{% block content %}
  <p class="content">
    Compare recorded walks by selecting two recordings in the following dropdown menus:
  </p>
  <div class="content" id="similarityScore" style="width: 250px; height: 125px; margin-left: auto; margin-right: auto"></div>
  <!-- <p class="content">Your similarity is {{ similarity }}!</p> -->
  <form action="/score" id="score_form" method="post">
    <div class="field">
      <label class="label">Walk 1</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select name="walk1" id="walk1">
            {% for walk_id, walk_name in walk_dict.items() %} 
              <option value="{{ walk_id }}" {% if walk_id == selected_walk_ids[0] %}selected{% endif %}>{{ walk_name }}</option>
            {% endfor %} 
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Walk 2</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select name="walk2" id="walk2">
            {% for walk_id, walk_name in walk_dict.items() %} 
              <option value="{{ walk_id }}" {% if walk_id == selected_walk_ids[1] %}selected{% endif %}>{{ walk_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button type="submit" form="score_form" id="scorebtn" class="button">Calculate Similarity Score</button>
      </div>
    </div>
  </form>
  <script>
    // Define variables for progress bar which will change depending on score from server
    var fromColor, toColor
    var similarity, std
    {% if similarity %}
      similarity = {{ similarity[0] }}
      std = {{ similarity[1] }}
      {% if similarity[0] >= 0.8 %}
        // successful
        fromColor = '#FFEA82'
        toColor = '#48c774'
      {% elif similarity[0] < 0.8 %}
        fromColor = '#FFEA82'
        toColor = '#ffca09'
      {% endif %}
    {% endif %}

    var bar = new ProgressBar.SemiCircle("#similarityScore", {
      strokeWidth: 6,
      color: '#FFEA82',
      trailColor: '#eee',
      trailWidth: 1,
      easing: 'easeInOut',
      duration: 2000,
      svgStyle: null,
      text: {
        value: '',
        alignToBottom: false
      },
      // Set default step function for all animate calls
      step: (state, bar) => {
        bar.path.setAttribute('stroke', state.color);
        var value = Math.round(bar.value() * 100);
        if (value === 0) {
          bar.setText('');
        } else {
          bar.setText(`${value}% ±${Math.round(std * 100)}`);
        }
        bar.text.style.color = state.color;
      }
    })
    bar.text.style.fontSize = '1.6rem';
    
    {% if similarity %}
      bar.animate(similarity, {from: {color: fromColor}, to: {color: toColor}})
    {% endif %}

  </script>
{% endblock %}
