<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sensor Recording Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nosleep/0.11.0/NoSleep.min.js"></script> 
</head>

<body>
  <section class="section">
    <div class="container">
    <h1 class="title">gaitkeeper demo</h1>
    <form action="/upload" id="upload_form" method="post">
      <input type="hidden" name="gyroscope">
      <input type="hidden" name="linearaccelerometer">
    </form>
    <div class="content">
      <button id="startbtn" class="button">Start Recording</button>
      <button type="submit" form="upload_form" id="stopbtn" class="button" disabled>Stop and Upload</button>
    </div>
    <div id="plot" style="width:100%; height:250px;"></div>
    <!-- <p>(Tap once to keep screen on while recording)</p>
    <h4>LinearAccelerationSensor</h4>
    <ul>
      <li>Timestamp: <span id="LinearAccelerationTime">OFF</span></li>
      <li>X-axis: <span id="LinearAccelerationX">OFF</span> m/s²</li>
      <li>Y-axis: <span id="LinearAccelerationY">OFF</span> m/s²</li>
      <li>Z-axis: <span id="LinearAccelerationZ">OFF</span> m/s²</li>
    </ul>
    <h4>Gyroscope</h4>
    <ul>
      <li>Timestamp: <span id="GyroscopeTime">OFF</span></li>
      <li>X-axis: <span id="GyroscopeX">OFF</span> rad/s</li>
      <li>Y-axis: <span id="GyroscopeY">OFF</span> rad/s</li>
      <li>Z-axis: <span id="GyroscopeZ">OFF</span> rad/s</li>
    </ul>
    <h4>AbsoluteOrientationSensor</h4>
    <ul>
      <li>Timestamp: <span id="OrientationTime">OFF</span></li>
      <li>X-axis: <span id="OrientationX">OFF</span>°</li>
      <li>Y-axis: <span id="OrientationY">OFF</span>°</li>
      <li>Z-axis: <span id="OrientationZ">OFF</span>°</li>
    </ul> -->
    </div>
  </section>

  <script type="module">
    /* noSleep is for preventing screen lock while walking
      Need to bind the listener to a record button */
    const noSleep = new NoSleep()

    // Initialize empty plot
    const plotdiv = document.getElementById('plot')
    const plotdata = [{  // data is an array of traces
      // note null values are to trick plotly to show legend on init
      x: [null],
      y: [null],
      name: 'X',
      type: 'line'
    },
    { 
      x: [null],
      y: [null],
      name: 'Y',
      type: 'line'
    },
    { 
      x: [null],
      y: [null],
      name: 'Z',
      type: 'line'
    }]
    const layout = {
      margin: { l: 20, r: 20, t: 30, b: 30 },
      title: "Linear Acceleration",
      displayModeBar: false,
    }
    Plotly.newPlot(plotdiv, plotdata, layout)

    // Create sensors
    function updateSensorMeasurement(time, val, id) {
      document.getElementById(`${id}Time`).innerHTML = time
      document.getElementById(`${id}X`).innerHTML = val[0]
      document.getElementById(`${id}Y`).innerHTML = val[1]
      document.getElementById(`${id}Z`).innerHTML = val[2]
    }

    const sampling_frequency = 60
    // const sensor_absorient = new AbsoluteOrientationSensor({ frequency: sampling_frequency })
    const sensor_linacc = new LinearAccelerationSensor({ frequency: sampling_frequency })
    const sensor_gyro = new Gyroscope({ frequency: sampling_frequency })
   
    // Store all sensor data in this object
    const data = {}

    function setupSensor(sensor, label, plotdiv) {
      // Initialize empty array for this sensor
      data[label] = {time: [], value: []}

      const isQuaternion = 'quaternion' in sensor
      sensor.onreading = () => {
        let output = isQuaternion ? sensor.quaternion : [sensor.x, sensor.y, sensor.z] 

        // updateSensorMeasurement(sensor.timestamp, output, label)

        data[label].time.push(sensor.timestamp)
        data[label].value.push(output)

        // Note including this code dramatically slows things down
        if (plotdiv) {
          Plotly.extendTraces(plotdiv, 
            {x: [[sensor.timestamp], [sensor.timestamp], [sensor.timestamp]], 
             y: [[output[0]], [output[1]], [output[2]]]}, [0,1,2], 60*5)
        }
      }
      sensor.onerror = event => {
        if (event.error.name == 'NotReadableError') {
          console.log(`Sensor (${label}) is not available.`)
        }
      }
      sensor.start()
    }

    // Bind buttons to sensor logic
    const startbtn = document.getElementById('startbtn')
    const uploadform = document.getElementById('upload_form')
    var isRecording = false

    startbtn.addEventListener('click', 
      function() {
        if (!isRecording) {
          // Stop screen display from turning off
          noSleep.enable()

          // Start sensor measurements
          // setupSensor(sensor_absorient, "Orientation")
          setupSensor(sensor_gyro, "gyroscope")
          setupSensor(sensor_linacc, "linearaccelerometer", plotdiv)

          // Enable stop button
          stopbtn.disabled = false
          startbtn.innerHTML = "Reset Recording"
          isRecording = true
        } else {
          window.location.reload(false)
        }
      }
    )

    // Include sensor data upon submission
    uploadform.addEventListener('submit',
      function() {
        noSleep.disable()

        sensor_gyro.stop()
        sensor_linacc.stop()

        // Send sensor data
        document.forms['upload_form']['gyroscope'].value = JSON.stringify(data['gyroscope'])
        document.forms['upload_form']['linearaccelerometer'].value = JSON.stringify(data['linearaccelerometer'])
      }
    )

  </script>
</body>

</html>