{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
  <p class="content">
    <i>G<span style="font-variant:small-caps">ai</span>tkeeper</i> is a web app that simulates gait-based user authentication by allowing users to record their walk and compare it to the walks of others.
    It uses your phone's accelerometer and gyroscope to record data walk data, embeds that data to a unique feature space using a convolutional neural network, and calculates similarity scores between different walks.
  </p>
  <div id="plot" style="width:100%; height:250px;"></div>
  <p class="content">
    Please note this site is compatible only with mobile devices with accelerometer and gyroscope hardware on browsers supporting <a href="https://developer.mozilla.org/en-US/docs/Web/API/Sensor_APIs">Web Sensor APIs</a> (e.g. Google Chrome).
    If your device is supported, you will see the chart above update with real-time acceleration values.
    Otherwise, you will still be able to compare recorded walks but will not be able to record them.
  </p>

  <script>
    // Initialize empty plot
    const plotdiv = document.getElementById('plot')
    const plotdata = [{  // data is an array of traces
      // note null values are to trick plotly to show legend on init
      x: [null],
      y: [null],
      name: 'X',
      type: 'line'
    },
    { 
      x: [null],
      y: [null],
      name: 'Y',
      type: 'line'
    },
    { 
      x: [null],
      y: [null],
      name: 'Z',
      type: 'line'
    }]
    const layout = {
      margin: { l: 20, r: 20, t: 30, b: 30 },
      title: "Linear Acceleration",
    }
    const config = {
      displayModeBar: false,
      staticPlot: true,
    }
    Plotly.newPlot(plotdiv, plotdata, layout, config)

    const sampling_frequency = 20
    const sensor_linacc = new LinearAccelerationSensor({ frequency: sampling_frequency })


    function setupSensor(sensor, label, plotdiv) {
      // Initialize empty array for this sensor
      const isQuaternion = 'quaternion' in sensor
      let firstTimestamp
      let currentTimestamp
      
      sensor.onreading = () => {
        let output = isQuaternion ? sensor.quaternion : [sensor.x, sensor.y, sensor.z] 

        if (firstTimestamp == null) firstTimestamp = sensor.timestamp
        currentTimestamp = sensor.timestamp - firstTimestamp

        // Note including this code dramatically slows down sensor frequency availability, so can't use it while live recording
        if (plotdiv) {
          Plotly.extendTraces(plotdiv, 
            {x: [[currentTimestamp], [currentTimestamp], [currentTimestamp]], 
             y: [[output[0]], [output[1]], [output[2]]]}, [0,1,2], 60*1)
        }
      }
      sensor.onerror = event => {
        if (event.error.name == 'NotReadableError') {
          console.log(`Sensor (${label}) is not available.`)
        }
      }
      sensor.start()
    }

    setupSensor(sensor_linacc, "linearaccelerometer", plotdiv)
  </script>
{% endblock %}
